<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GEM10</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		GEM10.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registrazione</display-name>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>
		GEM10.Registrazione</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Pannello</display-name>
		<servlet-name>Pannello</servlet-name>
		<servlet-class>
		GEM10.Pannello</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Modifica</display-name>
		<servlet-name>Modifica</servlet-name>
		<servlet-class>
		GEM10.Modifica</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Modifica_Utente</display-name>
		<servlet-name>Modifica_Utente</servlet-name>
		<servlet-class>
		GEM10.Modifica_Utente</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>
		GEM10.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Prenotazione</display-name>
		<servlet-name>Prenotazione</servlet-name>
		<servlet-class>
		GEM10.Prenotazione</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ElencoPrenotazioni</display-name>
		<servlet-name>ElencoPrenotazioni</servlet-name>
		<servlet-class>
		GEM10.ElencoPrenotazioni</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecuperaPass</display-name>
		<servlet-name>RecuperaPass</servlet-name>
		<servlet-class>
		GEM10.RecuperaPass</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ElencoEventi</display-name>
		<servlet-name>ElencoEventi</servlet-name>
		<servlet-class>
		GEM10.ElencoEventi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DB_Connection</display-name>
		<servlet-name>DB_Connection</servlet-name>
		<servlet-class>
		GEM10.DB_Connection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/Registrazione</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Pannello</servlet-name>
		<url-pattern>/Pannello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Modifica</servlet-name>
		<url-pattern>/Modifica</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Modifica_Utente</servlet-name>
		<url-pattern>/Modifica_Utente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Prenotazione</servlet-name>
		<url-pattern>/Prenotazione</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ElencoPrenotazioni</servlet-name>
		<url-pattern>/ElencoPrenotazioni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecuperaPass</servlet-name>
		<url-pattern>/RecuperaPass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ElencoEventi</servlet-name>
		<url-pattern>/ElencoEventi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DB_Connection</servlet-name>
		<url-pattern>/DB_Connection</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
